<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>hi</h1>
<p>this is a line of text. this is a line of text. this is a line of text. this is a line of text. this is a line of text. </p>
</body>
</html>
